/* styles_thankyou.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #eb8787; /* Light gray background for the body */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Ensure content flows vertically */
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* White background for the container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for the container */
}

h1 {
  text-align: center;
  color: #e90808;
  margin-bottom: 20px;
}

.question-summary {
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
  display: block;
  text-align: left;
  width: 100%;
}

li:hover {
  background: #f1f1f1;
}

.most-selected {
  font-weight: bold;
  color: #9b4caf;
}
